h1 { 
	font-size: 100px; 
	font-family: 'PT Sans', sans-serif; 
	text-align: center; 
	color: white; 
	font-weight: 700; 
	letter-spacing: 0.1em;
}


h2 { 
	font-family: 'PT Sans', sans-serif; 
	font-size: 30px;
	color: white;
	text-align: center;
}

body { background-color: black }

a { text-decoration:  none; color: white }

a:hover { color: yellow }



