
.container {
  max-width: 800px;
  margin: 20px auto;
  flex-wrap:wrap;
  border: solid white 1pt; 
  background-color: #E7E7E7;
}

.week {
  display: flex;
  height: 80px;
  padding: 5px;
  border-top: solid 1px ;
}

.day {
	color: #8F9491;
	padding: 5px;
	width: 100px;

}

.day:hover {
	background-color: #F3F6FA;
}

.weekdays {
	height: 30px;
	display: flex;
}



.month {
	height: 40px;
	font-weight: 700;
	padding: 1em;
	text-align: center;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #8F9491;
}

@media only screen and (max-width: 600px) {
  .weekdays {
    display: none;
  }
  .container {
  	max-width: 400px;
  	
  }
  .week {
    flex-direction: column;
    height: auto;
    border: none;

  }
  .day {
  	flex-direction: column;
  	border-top: solid 1px;
    width: auto;
    height: 50px;
    padding-left: 10px;
  }

  #none {
  	display: none;
  }