
#_progress {
      --scroll: 0%;
      background: linear-gradient(to right,rgb(255, 255, 0) var(--scroll),transparent 0);
      position: fixed;
      width: 100%;
      height: 8px;
      top:0px;
      z-index: 100;
  }


html {
  scroll-behavior: smooth;

 }

body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}


h1 { font-size: 35px }

h2 { 
    z-index: 0;
    position: absolute;
    margin-left: 15%;
    font-size: 55pt;
    font-weight: 500;
    color: white;
    padding: 40px;
}

@media (max-width: 500px) {
  h2 {
    font-size: 40px;
  }
}

h4 {
  font-size: 55pt;
  font-weight: 500;
  color: white;
  text-align: center;

}

a { 
  text-decoration: none;
  color: white;
}

.title p {
  font-size: 75pt;
  font-weight: 700;
  color: white;
  padding: 30px;
  text-align: center;
}

@media (max-width: 1000px) {
  .title p {
  font-size: 60pt;}
}

@media (max-width: 700px) {
  .title p {
  font-size: 40pt;}
}




.title {
  width: 100%;
  z-index: 0;
  position: absolute;
  text-align: center;
  margin-top: 0%;
}

.picture {
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10%;
  filter: drop-shadow(8px -10px 10px rgba(0,0,0,0.5));
  width: 800px;
}

@media (max-width: 1000px) {
  .picture {
    width: 500px;
    margin-top: 20%;}
}

@media (max-width: 700px) {
  .picture {
    width: 500px;
    margin-top: 20%;
  }
}

@media (max-width: 500px) {
  .picture {
    width: 400px;
    margin-top: 40%;
  }

}


.explaination p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.explaination {
  position: absolute;
  margin: 0;
  left: 0;
  right: 0;
  top: 80%;
}

@media (max-width: 500px) {
  .explaination p {
    font-size: 14px; 
  }
  .explaination {
    top: 55%;
    margin: 8vh;
  }

}

.top {
  background-color: black;
  height: 800px;
  width: 100%;

}

.nextstep {
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translateX(-50%)
}

@media (max-width: 500px){
  .nextstep {
    top: 85%;
  }
}

.button {
  box-shadow:inset 0px 8px 16px -9px #ffffff;
  background-color:#eeff00;
  border-radius:28px;
  display:inline-block;
  cursor:pointer;
  color:#000000;
  font-family:Arial;
  font-size:18px;
  font-weight:bold;
  padding:10px 19px;
  text-decoration:none;
  margin-bottom: 35pt;
}

.button:hover {
  background-color:#ffffff;
}


#ingredients {
  background-color: black;
  height: 600px;
  position: relative;
  width: 100%;

}

.ingtext p {
  color: white;
  font-size: 22pt;
  font-weight: 200;
  text-align: left;
  line-height: 130%;
}

.ingtext {
  width: 700px;
  text-align: left;
  position: absolute;
  margin-top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media (max-width: 500px) {
  .ingtext p {
    font-size: 18px;
  }
  .ingtext {
    text-align: center;
    margin-top: 40%;
    width: 300px;
  }
}

.button2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 485px;

}

.title2 {
    z-index: 0;
    position: absolute;
    margin-left: 15%;
    font-size: 55pt;
    font-weight: 500;
    color: white;
    padding: 40px;
}
@media (max-width: 500px) {
  .title2 {
    font-size: 40px;
    margin-left: 3%;
  }
}

.title3 {
    z-index: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 55pt;
    font-weight: 500;
    color: white;
    padding: 40px;
    margin-top: 10%;
}
@media (max-width: 500px) {
  .title3 {
    margin-top: 10%;
  }
}


.top2 {
  background-color: black;
  height: 300px;
  width: 100%;
}

.homepage {
    z-index: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 55pt;
    font-weight: 500;
    color: white;
    text-align: center;
}

.homepage a:hover {
  color: yellow;
}

.versions {
    z-index: 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20pt;
    font-weight: 300;
    color: white;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
}

.versions a:hover {
  color: yellow;
}

.inglist {
  z-index: 0;
  position: absolute;
  margin-left: 20%;
  margin-top: 12%;
  font-weight: 200;
  color: white;
  padding: 35px;
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}

@media (max-width: 500px) {
  .container {
    padding-left: 35px;
    font-size: 18px;
    margin-top: 20px;
  }
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}



.container:hover input ~ .checkmark {
  background-color: #FBFBB5;
}

.container input:checked ~ .checkmark {
  background-color: yellow;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 500px) {
  .checkmark {
    height: 20px;
    width: 20px;
  }
  .container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 3px;
  height: 7px;
  }
}


#step1 {
  background-color: black;
  height: 600px;
  position: relative;
  width: 100%;

}

#step2 {
  background-color: black;
  height: 600px;
  position: relative;
  width: 100%;

}

#step3 {
  background-color: black;
  height: 600px;
  position: relative;
  width: 100%;

}

#step4 {
  background-color: black;
  height: 600px;
  position: relative;
  width: 100%;

}

#bottom {
  background-color: black;
  height: 400px;
  position: relative;
  width: 100%;

}
