
body {
  height: 100%;
  width: 100%;
  background-color: #CACCCE;
  font-size: 40px;
}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;

}

h1 {font-size: 50px; font-weight: 400;}

h2 {font-size: 25px;font-weight: 300; opacity: .25}

h4 { font-size: 15px; font-weight: 100; padding: 5px }

.row {
  display: flex;
  height: 10400px;
  z-index: 0;
}

.column {
  flex: 50%;
  z-index: 0;
  padding: 3%;
  padding-right: 10%;
}

#Name {
	font-family: 'Roboto', sans-serif;
	font-size: 100px;
	text-align: center;
	font-weight: 700;
	position: fixed;
	left: .05%;
	transform: rotate(270deg);
	color: white;
	opacity: 10%;
}

#Name2 {
	font-family: 'Roboto', sans-serif;
	font-size: 100px;
	text-align: center;
	font-weight: 700;
	position: fixed;
	left: 80%;
	transform: rotate(90deg);
	color: white;

}

#Oliver {
	text-align: center;
	padding: 20px;
}

#Ester {
	text-align: center;
	padding: 20px;
}

.bubbleOliver {
	margin: 40px;
  	display: inline-block;
  	position: relative;
	width: auto;
	height: auto;
	border-radius: 15px;
	background-color: #464F51;
	z-index: 1;
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	vertical-align: middle;
	margin: 4px;
}

.bubbleOliver:hover,
.bubbleOliver:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(-0.25em);
}

.bubbleEster {
	margin: 40px;
  	display: inline-block;
  	position: relative;
  	left: 16%;
	width: auto;
	height: auto;
	background-color: #ffcccc;
	z-index: 1;
	padding-left: 5%;
	padding-right: 5%;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	vertical-align: right;
	margin: 4px;
	border-radius: 15px;
}

.bubbleEster:hover,
.bubbleEster:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateX(0.25em);
}

.EsterBubblesAglin { 
	position: relative;
	text-align: right;

 }



.spacer {
	height: 200px;
  	position: relative;

}

.spacer2 {
	height: 320px;
  	position: relative;

}

.spacer3 {
	height: 380px;
  	position: relative;

}

