.videoclip {
    margin: 30px;
    box-shadow: 10px 30px 70px 0px rgba(0,0,0,0.75);
    z-index: 0;
    position: relative;
}

audio:not([controls]) {
    display: none !important;
}

.body {
background: linear-gradient(to bottom, #fceabb 0%,#fccd4d 29%,#f8b500 75%,#fbdf93 100%);
}

.parallelogram {
   width: 430px; 
   height: 700px;
   background: white;
   transform: skew(-20deg);
   position: absolute;
   margin-left: 750px;
   z-index: 100;
}

.pic {
	position: absolute;
	z-index: 200;
	margin-left: 400px;
	margin-top: 10px; 
	display: inline-block;
	filter: drop-shadow(20px 15px 5px rgba(0,0,0,0.3));

}