
body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.header {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.explaination {
	text-align: center;
 	font-family: 'Roboto', sans-serif;
 	padding: 10px;
 	font-weight: 500;
}

.text {
  text-align: center;
}

.ingredients {
  width: 200px;
  margin: 100px;
  padding: 5px;
  text-align: left;
  line-height: 130%;
  display: inline-block;
}

.directions {
  width: 500px;
  margin: 100px;
	padding: 5px;
	text-align: left;
  line-height: 130%;
  display: inline-block;
}

li { margin-bottom: 1.5em; }

h1 { font-size: 40px; font-weight: 700;}

h2 { font-size: 20px; font-weight: 500; }

h4 { font-size: 15px; font-weight: 100; }
